# Visual Studio Code cache/options directory
.vscode/

# アプリ版メインjs
app/index.js

# Build results
build/skynovel*

# Visual Studio code coverage results
coverage/

# test Results
engine/tmp/

# gallery
gallery/3d_f*
gallery/3d_m*
gallery/glsl_/

# Node.js Tools
node_modules/

# ブラウザ版メインjs
web.js
web.three.js

# SKYNovel Dev famibee's Work Folder
Work/
